---
import Layout from "../layouts/Layout.astro";
---

<Layout title="¿Quien soy?">
  <div class=" flex flex-col items-center gap-5 pt-10 justify-center ">
    <div class="bg-[#dcddd5] rounded-2xl p-5 w-[95%] flex flex-col items-center">
      <img class="w-[50%] rounded-lg" src="/foto-cara.jpg" alt="Foto de cara">
      <br>
      <p class="text-justify">Soy Sergio Arenas, tengo 22 años de edad, pertenezco al programa de administración de empresas de la Universidad del Tolima y actualmente estoy cursando el 5° semestre. Además, como desarrollador de Software en una empresa de ingeniería y me apasiona aprender cada dia algo nuevo</p>
    </div>
    <div class="bg-[#dcddd5] rounded-2xl p-5 w-[95%] flex flex-col items-center" >
      <img class="w-[50%] rounded-lg" src="/foto-entero.jpg" alt="Foto de pie">
      <p class="text-justify">
        Soy alguien apasionado por la lectura, por el aprendizaje de idiomas y por ser un poco mejor cada dia; además, disfruto cocinar, escuchar, estudiar y disfrutar de la música. Considero que soy un curioso intelectual y soy consciente que el metodo más eficaz para alcanzar las metas es por medio de la disciplina y el autocontrol
      </p>
    </div>
  </div>

</Layout>
