---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Administración de proyectos">
  <section class="p-3">
    <h1 class="title2 items-center pt-5 font-bold bg-[#ffa938] h-28 tracking-widest text-white text-center rounded-lg duration-1000">Administración de proyectos</h1>
    <div class="mt-10">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          La administración de proyectos es una disciplina fundamental para la planificación, ejecución y control de actividades con el objetivo de alcanzar metas específicas dentro de un plazo determinado con recursos limitados. De esta manera, se han desarrollado diversas herramientas y técnicas que permiten gestionar eficientemente los proyectos, y entre ellas se destacan el Diagrama de Gantt, PERT (Program Evaluation and Review Technique) y CPM (Critical Path Method).   
        </p>
          <br/>
          <h1 class="font-bold">
            Diagrama de Gantt
          </h1>
          <p class="text-justify">Es una herramienta grafica que se originó en 1916-1917 la cual proporciona una visión general del cronograma del proyecto. Los objetivos de esta herramienta son poder visualizar el tiempo de dedicación previsto a las actividades, la duración del proyecto y las actividades criticas, esto con el propósito de tomar decisiones. Cada tarea se representa mediante una barra horizontal, cuya longitud indica la duración estimada de la actividad. Esta herramienta facilita la identificación de dependencias entre tareas y permite visualizar de manera clara la programación de actividades.</p>
          <br/>
          <img src="/gantt (1).jpg" alt="imagen finanzas" class="rounded-2xl">
          <br/>

          <h1 class=" mt-5 font-bold">
            Diagrama de PERT (Program Evaluation and Review Technique)
          </h1>
          <p class="text-justify">Es una herramienta de representación visual que se originó en el año 1957 en la Oficina de Proyectos Especiales de la Marina de los Estados Unidos, este se desarrolló con el fin de controlar los tiempos de ejecución de actividades de los proyectos espaciales. Este diagrama hace uso de nodos para representar las actividades del proyecto las cuales están conectadas mediante nodos que representan las dependencias de estas. El diagrama de PERT hace uso de 2 tipos de tiempos: Determinístico y Probabilistico, en el determinístico se maneja un tiempo exacto el cual es conocido como tiempo normal mientras que en el probabilistico se hace uso de 3 estimaciones de tiempo siendo estas Optimista, Pesimista y Normal, y con base a estos tiempos se calcula el tiempo esperado (TE). El fin de esta herramienta es ayudar a identificar actividades críticas, que son las actividades que si se retrasan afectan la duración total del proyecto, y no críticas lo cual facilita la priorización de recursos y la gestión de riesgos </p>
          <br/>
          <img src="/pert.png" alt="imagen finanzas" class="rounded-2xl">
          <br/>
          <h1 class=" mt-5 font-bold">
            CPM (Critical Path Method)
          </h1>
          <p class="text-justify">Este método que fue desarrollada en la década de 1950 por James Kelley y Morgan Walker en colaboración con la compañía DuPont para gestionar proyectos de construcción y mantenimiento de plantas químicas. Es una técnica que se usa para planificar y programar las actividades necesarias para completar un proyecto, este se enfoca en la secuencia de actividades críticas que determinan la duración total del proyecto. En esta herramienta se empieza identificando las actividades que deben completarse para llevar a cabo el proyecto y cada actividades se describe información como la diración estimada y las dependencias con otras actividades para despues crear un diagrama de red que represente las relación entre estas. El objetivo de el CPM es calcular las holguras de tiempo para las actividades críticas y no críticas para conocer aquellas que se pueden retrasar sin afectar el proyecto y aquellas que no pueden retrasarse. Esta herramienta permite a los gestores de proyecto asignar eficientemente recursos al identificar actividades criticas y no criticas, donde la mayor atención a estas últimas para que se cumplan los plazos del proyecto</p>
          <br/>
          <img src="/CPM.png" alt="imagen finanzas" class="rounded-2xl">
          <br/>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          Las herramientas para la administración de proyectos tales como el diagrama de Gantt, PERT y CPM se pueden usar de en distintos campos desde la planificación hasta la ejecución en diferentes industrias, estos son sus campos de aplicación
          <br/>
          
          <h1 class=" mt-5 font-bold">
            Diagrama de Gantt:
          </h1>
          <ul class="list-disc px-5 ">
            <li>Desarrollo de software</li>
            <li>Planificación de eventos</li>
            <li>Metodología agil</li>

          </ul>

          <h1 class=" mt-5 font-bold">
            Diagrama de PERT:
          </h1>
          <ul class="list-disc px-5 ">
            <li>Proyectos de ingenieria de alta complejidad</li>
            <li>Desarrollo de nuevos productos</li>
            <li>Investigación y desarrollo</li>
          </ul>

          <h1 class=" mt-5 font-bold">
            CPM
          </h1>
          <ul class="list-disc px-5 ">
            <li>Construcción de infraestructura</li>
            <li>Gestión de inventario de suministros médicos</li>
            <li>Proyectos de ingenieria de procesos</li>
          </ul>
        </p>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify">
          La importancia de la adminstración de proyectos por medio de herramientas como el diagrama de Gantt y PERT y CPM es de suma importancia para las empresas ya que brinda muchos beneficios, siendo algunos de estos: 
        </p>
        <h1 class=" mt-5 font-bold">
            Control de proyectos
          </h1>
        <p class="text-justify"> 
          Estas herramientas proporcionan un control eficiente sobre la ejecución de proyectos al permitir que los gestores de estos monitoreen el progreso y asi identificar posibles desviaciones y tomar medidas adecuadas de manera oportuna
        </p>
        <h1 class=" mt-5 font-bold">
            Optimización de recursos
          </h1>
        <p class="text-justify"> 
          Facilitan la actividad de asignar recursos en los proyectos al identificar actividades críticas y no críticas, esto permite maximizar el rendimiento y minimizar los cuellos de botella en el proceso  
        </p>
        <h1 class=" mt-5 font-bold">
            Reducción de riesgos
          </h1>
        <p class="text-justify"> 
          Estas herramientas permiten identificar y gestionar los riesgos que se pueden presentar en el proyecto ya que proporcionan una visión clara entre las tareas y su dependencia y gracias a esto se pueden anticipar posibles problemas y tomar medidas preventivas
        </p>
        <h1 class=" mt-5 font-bold">
            Competitividad
          </h1>
        <p class="text-justify"> 
          Las empresas que hacen uso de estas herramientas pueden ser superiores frente a las otras ya que cuentan con la ventaja competitiva en la que conocen los tiempos, los recursos que se usarán y por ende el presupuesto de los proyectos, permitiendo que se entreguen de un manera oportuna 
        </p>
        <h1 class=" mt-5 font-bold">
            Toma de decisiones informadas
          </h1>
        <p class="text-justify"> 
          El uso de estas herramientas permiten tener una visión mejorada del panorama y permite tener en cuenta multiples alternativas, lo que ocasiona que las empresas puedan tener en cuenta los distintos escenarios y por ende tomar decisiones con base en esto ofreciendo asi una toma de decisiones más fundamentadas 
        </p>
      </div>
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
      </div>
    </div>  
  </section>

</Layout>