---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Modelo de transporte">
  <section class="p-3">
    <h1 class="title2 pt-3 font-bold bg-[#ffa938] h-12 tracking-widest text-white text-center rounded-lg duration-1000">Modelo de transporte</h1>
    <div class="mt-10">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          Este modelo se funda en la necesidad de llevar unidades (elementos vivos o inertes) de un punto específico llamada fuente u origen hacia otro punto determinado llamado destino. Esta es una herramienta fundamental en la planificación estratégica de distribución de bienes y servicios y logística en distintos sectores. Las <b>empresas ofrecen </b>y por ende tienen <b>disponibilidad</b> y los <b>clientes tienen requerimientos</b> y por esto tienen <b>demanda</b>   
          <br/>
          <br/>
          El objetivo de este modelo es encontrar la mejor manera de hacer la distribución de productos o servicios por medio de redes de rutas y modos de transporte, con base a diferentes variables tales como capacidad de carga, distancia, costos operativos y restricciones logísticas.
          
          <br/>
          <br/>
          La aplicación de esta metodologia se da en diversos contextos que van desde la planificación para la cadena de suministros hasta la gestión de rutas de transporte público en ciudades 
        </p>
          <br/>
        <p class="text-justify">
          Sus objetivos son los siguientes:
        </p>
          <ul class="list-disc px-5 mt-3">
            <li class="px-2">Satisfacer todos los requerimientos establecidos por los destinos</li>
            <li class="px-2">Minimizar los costos</li>
          </ul>
          <br/>
        <p class="text-justify">
          Además; para llevar a cabo este modelo se requiere la siguiente metodología:
        </p>
        <ul class="list-disc px-5 mt-3">
            <li class="px-2"><b>Modelo imperfecto: </b> Se da a conocer el modelo actual, este usualmente es imperfecto; es decir, la oferta no es igual a la demanda</li>
            <br/>
            <li class="px-2"><b>Modelo perfecto: </b> Se iguala el modelo de tal manera que la oferta iguale a la demanda y esto perfeccione el modelo</li>
            <br/>
            <li class="px-2"><b>Método de solución: </b> Esta etapa está compuesta de los siguientes pasos:</li>
            <ul class="pl-4 pt-3 list-decimal">
              <li>Se formula el modelo matemático: Aqui se hace uso de la formulación de modelos matemáticos (Para profundizar, visita esta <a href="/pasos-modelos" class=" underline font-bold" >sección</a> ) </li>
              <br/>
              <li>Se establecen los grados de libertad: En este paso se procede a definir los grados de libertad, los cuales son los que indican la cantidad de respuestas que va a tener el modelo, por ende este no puede ser negativo</li>
              
              <br/>
              
              <li>Aplicar diferentes metodos de transporte (Esquina Noroeste, Costo mínimo, Método de Vogel): Se resuelve el modelo con los 3 tipos de transportes para conocer como se comportan las variables y cual sería el resultado de cada modelo</li>
              <br/>
              <li>Identificar la solución (Elegir el mejor de los 3 métodos): En el último paso se comparan los resultados de los 3 modelos y se escoge el mejor para asi cumplir los objetivos de este algoritmo de transporte</li>
            </ul>
            <br/>
            <li class="px-2"><b>Solución: </b>Aqui ya se resuelve el modelo</li>
            <br/>
            <li class="px-2"><b>Interpretación: </b> Una vez se soluciona el modelo, se busca justificar la solución y el metodo de transporte que fue más optimo para el proyecto </li>
            <br/>
          </ul>
          <br/>
        <p class="text-justify">
          Añadiendo a lo anterior, estos son los distintos metodos de transportes:
          <br/>
          <br/>

          <p><b>Esquina Noroeste:</b></p>
          <ul class="list-decimal px-5 mt-3">
            <li class="px-2"> Es sencillo y facil de realizar</li>
            <li class="px-2">No se tienen en cuenta los costos para realizar las asignaciones</li>
            <li class="px-2">Generalmente situa al proyecto lejos del óptimo</li>
          </ul>
          <br>
          <img src="/e-noroeste.png" alt="imagen finanzas" class="rounded-2xl">
          <br>
          <p><b>Costo mínimo:</b></p>
          <ul class="list-decimal px-5 mt-3">
            <li class="px-2"> Es más elaborado con respecto al de Esquina Noroeste</li>
            <li class="px-2">Tiene en cuenta los costos para realizar asignaciones</li>
            <li class="px-2">Usualmente tiene un acercamiento mayor al óptimo</li>
          </ul>
          <br>
        <img src="/costo-fijo.png" alt="imagen finanzas" class="rounded-2xl">
          <br>
          <p><b>Método de Vogel:</b></p>
          <ul class="list-decimal px-5 mt-3">
            <li class="px-2"> Es más elaborado con respecto, este es más técnico y dispendioso</li>
            <li class="px-2">Tiene en cuenta los costos, las ofertas y las demandas para hacer las asignaciones</li>
            <li class="px-2">Usualmente tiene un acercamiento mayor al óptimo</li>
          </ul>
          <br>
        <img src="/vogel.png" alt="imagen finanzas" class="rounded-2xl">
        </p>
          </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          El modelo de transporte es una técnica de optimización la cual permite a las empresas entregar sus productos de tal manera que se cumplan con los plazos establecidos y con los requerimientos de las empresas o usuarios demandantes. Esta técnica es sumamente importante cuando los recursos son limitados de manera eficiente. Estos son algunos de los campos de aplicación del modelo de transporte
        </p>
        <br/>
      <ul class="list-disc px-5">
        <li class="text-justify"><b>Logística y distribución: </b> El algoritmo de transporte se usa generalmente en las actividades de planificación y distribución en las empresas ya que permite asignar de manera adecuada los recursos limitados con los que cuenta y hacerlo cumpliendo los plazos estimados </li>
        <br>
        <li class="text-justify"><b>Gestión de inventarios: </b>El modelo de transporte es util para las empresas que deben hacer manejo de inventario ya que les permite determinar la cantidad de unidades de productos que deben ser repartidas entre las distintas ubicaciones y poder minizar los costos de distribución</li>
        <br>
        
        <li class="text-justify"><b>Planificación urbana y tráfico: </b> En esta área, el modelo de transporte puede ser sumamente util, pues le permite a las empresas asignar el distinto flujo de las rutas, teniendo en cuenta el trafico, las distancias y los tiempos, esto con el fin de brindar un buen servicio y mejorar la movilidad en las ciudades  </li>
        <br>

        <li class="text-justify"><b>Cadenas de suministro: </b> Las cadenas de suministros se pueden beneficiar de hace ruso del modelo de transporte para optimizar el flujo de productos que va desde proveedores hasta los clientes permitiendo mejorar los tiempo de entrega, la asignación de recursos y reducir los tiempos</li>
        <br>
      </ul>
      <img src="/rutas.jpg" alt="imagen finanzas" class="rounded-2xl">
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify">
        Multiples empresas pueden hacer uso de los modelos de transporte, ya sea para minizar costos, hacer uso eficiente de los recursos o permitir un mejor flujo en su cadena de suministros. Estas son algunas de las razones de la importancia en el campo empresarial de usar el modelo de transporte.
        </p>
        <h1 class=" mt-5 font-bold">
            Optimización de costos
          </h1>
        <p class="text-justify"> 
          El modelo de transporte le permite a las empresas minimizar y optmizar los costos de distribución, ya que pueden gestionar de manera eficiente los recursos limitados y por ende no gastar innecesariamente ni desperdiciar estos.
        </p>
        <h1 class=" mt-5 font-bold">
            Adaptación a la demanda 
          </h1>
        <p class="text-justify"> 
          Debido a que el modelo de transporte permite perfeccionar el modelo y ajustarlo de tal manera que siempre se modifique la oferta para que esta sea igual a la demanda, este le da la capacidad a las empresas que puedan gestionar de manera adecuada su oferta de tal manera que cumplan con los requerimientos de los demandantes y que estos estén satisfechos.
        </p>
        <h1 class=" mt-5 font-bold">
            Reducción de emisiones y sostenibilidad 
          </h1>
        <p class="text-justify"> 
          Esta utilidad se puede ver más comunmente en las empresas de rutas y movilidad ya que al hacer uso de este modelo, hace posible que las rutas sean más cortas y por ende se generen menos emisiones de gases de efecto invernadero. 
        </p>
      </div>
      
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
      </div>
    </div>  
  </section>

</Layout>