---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Origenes de la investigación de operaciones">
  <section class="p-3">
    <h1 class="title2  font-bold bg-[#ffa938] h-12 tracking-widest text-white text-center rounded-lg duration-1000">Origenes de la investigación de operaciones</h1>
    <div class="mt-10">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          La investigación de operaciones (IO) es una disciplina que se originó durante la Primera Guerra Mundial (1914-1915), cuando se empezó a hablar cuantitativamente de la guerra y se empiezan a trabajar temas de inventario y en la Segunda Guerra Mundial, cuando se presentó la necesidad crítica de tomar decisiones estratégicas y tácticas de manera eficiente en el ámbito militar. En ese momento, los aliados se enfrentaron a desafíos logísticos y operativos complejos que requerían soluciones analíticas avanzadas.   
        </p>
          <br/>
          <h1 class="font-bold">
            Naturaleza
          </h1>
          <ul class="list-disc px-5">
            <li>Se basa en el método científico</li>
            <li>Su elemento principal es el modelado matemático</li>
            <li>Su visión organizacional es sistémica</li>
            <li>La solución óptima se basa en encontrar la mejor solución</li>
            <li>Tiene un enfoque de equipo en el que hay multidisciplinariedad</li>
          </ul>
          <h1 class=" mt-5 font-bold">
            Fases de estudio
          </h1>
          <ul class="list-disc px-5">
            <li>Análisis y definición del problema</li>
            <li>Establecer y desarrollar el modelo</li>
            <li>Selección de datos de entrada y se evalua el modelo</li>
            <li>Solución del modelo</li>
            <li>Implementación y control de la solución </li>
          </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          La Investigación de Operaciones se desarrolla como un gran conjunto de herramientas matemáticas y analíticas aplicadas para optimizar decisiones en entornos complejos. Su flexibilidad la convierte en una herramienta fundamental en un amplio espectro de industrias.
          <br/>
          <br/>

          Desde las industrias farmaceuticas hasta las empresas de marketing, la investigación de operaciones puede ser un gran aliado para la toma de decisiones que afectará a la eficienia y la eficacia de las operaciones, permitiendo asi que se cumplan los objetivos de una manera adecuada, estos son algunos campos de aplicación de la investigación de operaciones:
          
          <h1 class=" mt-5 font-bold">
            Finanzas:
          </h1>
          <ul class="list-disc px-5 ">
            <li>Gestión de carteras de inversión</li>
            <li>Planificación financiera a largo plazo</li>
            <li>Gestión de riesgos</li>
          </ul>

          <h1 class=" mt-5 font-bold">
            Telecomunicaciones y redes:
          </h1>
          <ul class="list-disc px-5 ">
            <li>Planificación de redes de comunicación</li>
            <li>Optimización de recursos en redes</li>
            <li>Planificación de capacidad</li>
          </ul>

          <h1 class=" mt-5 font-bold">
            Salud
          </h1>
          <ul class="list-disc px-5 ">
            <li>Programación de horarios en hospitales</li>
            <li>Gestión de inventario de suministros médicos</li>
            <li>Planificación de recursos en atención medica</li>
          </ul>

          <h1 class=" mt-5 font-bold">
            Transporte
          </h1>
          <ul class="list-disc px-5 ">
            <li>Programación de rutas de transporte público</li>
            <li>Planificación de horarios de vuelos y trenes</li>
            <li>Optimización de flotas de vehiculos</li>
          </ul>

          <h1 class=" mt-5 font-bold">
            Marketing y publicidad
          </h1>
          <ul class="list-disc px-5 ">
            <li>Optimización de estrategias de marketing</li>
            <li>Segmentación de mercado</li>
            <li>Asignación de recursos publicitarios</li>
          </ul>
        </p>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify">
          La importancia de la investigación de operaciones radica en la capacidad para abordar la complejidad de los desafios operativos, permitiendole a las empresas implementar un enfoque analitico y matemático para la optimización de recursos, procesos y responder con exito a las situaciones del mercado; además, la IO permite una planificación estratégica a largo plazo, ayudando asi a la competitividad y sostenibilidad de las organizaciones en un mundo empresarial de diaria evolución. Estas son algunas de las razones por las cuales la IO es importante en las empresas 
        </p>
        <h1 class=" mt-5 font-bold">
            Mejora de procesos operativos
          </h1>
        <p class="text-justify"> 
          La investigación de operaciones permite a las empresas identificar areas de mejora en los procesos, permitiendo asi generar modelos matemáticos para la implementación de cambios que lleven a aumentar la eficiencia, mejorar la calidad de productos o servicios, aumentar la satisfacción de los clientes y adaptarse más rapido a los cambios del entorno.
        </p>
        <h1 class=" mt-5 font-bold">
            Toma de decisiones
          </h1>
        <p class="text-justify"> 
          La IO brinda herramientas y modelos matemáticos que las empresas pueden usar para evaluar diferentes situaciones y opciones teniendo en cuenta distintas variables, imaginando asi tanto el peor como el mejor escenario, lo cual permite tomar decisiones informadas y respaldadas. 
        </p>
        <h1 class=" mt-5 font-bold">
            Planificación estratégica a largo plazo
          </h1>
        <p class="text-justify"> 
          La investigación de operaciones facilita a las empresas simular y modelar escenarios futuros, involucrando distintas variables y asi abrir paso a crear estrategias de contingencia que permitan hacer frente a estos escenarios. Además, en el mejor de los escenarios permite a las empresas a anticiparse a los cambios y asi elaborar estrategías tanto comercial como internas que brinden una ventaja competitiva frente a las demás.     
        </p>
      </div>
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
      </div>
    </div>  
  </section>

</Layout>