---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Pasos generales y técnicas de construcción de modelos">
  <section class="p-3">
    <h1 class="title2  font-bold bg-[#ffa938] h-32 pt-3 tracking-widest text-white text-center rounded-lg duration-1000">Pasos generales y técnicas de construcción de modelos</h1>
    <div class="mt-10">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          La construcción y formulación de modelos es una herramienta fundamental para la investigación de operaciones y muchas otras áreas en donde la toma de decisiones premeditadas y basadas en datos es de vital importancia.
        </p>
          <br/>
        <p class="text-justify">
          El objetivo de la construcción de modelos es reunir una serie de expresiones, variables y datos hasta que este modelo reproduzca un comportamiento similar al sistema que permita emular situaciones reales y poder actuar frente a estos casos cuando ocurran.
        </p>
        
          <br/>
        <p class="text-justify">
          Estos se hacen a travez de ecuaciones y funciones objetivos y solamente se puede maximizar o minimizar
        </p>
          <br/>
        <p class="text-justify">
          Además, existen algunos pasos los cuales se deben seguir para construir un modelo, siendo estos:
        </p>
          <ul class="list-decimal px-5 mt-3">
            <li class="px-2">Identificar y definir variables de decisión</li>
            <br/>
            <li class="px-2">Expresar el objetivo del probema en palabras</li>
            <br/>
            <li class="px-2">Construir la función objetivo en terminos de variables de decisión</li>
            <br/>
            <li class="px-2">Expresar la restricción en terminos de las variables de decisión</li>
            <br/>
            <li class="px-2">Establecer la restricción de no negatividad</li>
          </ul>
          <br/>
          <p>
            Por otra parte, existen diferentes tipos de modelos, siendo estos:
          </p>
          <br/>
          <ul class="list-disc px-5">
            <li class="text-justify"><b>Icónicos: </b>Es una representación fisica a escala reducida o aumentada de un problema real. Un claro ejemplo de este tipo es una <b>maqueta</b></li>
            <br>
            <img src="/public/maquetas (1).jpg" alt="imagen finanzas" class="rounded-2xl">
            <br>
            <li class="text-justify"><b>Análogo: </b> Es una representación con apariencia distinta al original pero su comportamiento es representativo. Un claro ejemplo de este tipo es un <b>mapa</b></li>
            <br>
            <img src="/public/mapa (1).png" alt="imagen finanzas" class="rounded-2xl">
            <br>
            
            <li class="text-justify"><b>Matemático: </b> Es un modelo con símbolos y funciones que representa el comportamiento del sistema</li>
            <br>
            <img src="/public/modelo-matematico (1).png" alt="imagen finanzas" class="rounded-2xl">
          <br/>
          </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          La construcción de modelos es una herramienta fundamental la cual tiene una amplia gama de aplicación en diversas disciplinas. Estos son algunos campos de aplicación:
        </p>
        <br/>
      <ul class="list-disc px-5">
        <li class="text-justify"><b>Investigación de operaciones: </b>Esta usa los modelos matematicos para optimizar la toma de decisiones en campos como la cadena de suministros, asignación de recursos, logistica, entre otros</li>
        <br>
        <li class="text-justify"><b>Gestión empresarial: </b> La importancia de la construcción de modelos en la gestión empresarial radica en que esta se usa para la planificación estratégica, gestión de proyectos, analisis de riesgos y toma de decisiones. Además, esto permite una ventaja competitiva en el mercado</li>
        <br>
        
        <li class="text-justify"><b>Ciencias de la salud: </b> Los modelos se usan en esta disciplina para diagnosticos médicos, predicción de resultados clinicos y la optimización de procesos sanitarios. Estos modelos pueden ser epidemiológicos, predicción de enfermedades, entre otros</li>
        <br>

        <li class="text-justify"><b>Ingeniería y diseño de productos: </b> En la ingeniería, la construcción de modelos se usa para la optimización de recursos, simular procesos de fabricación y la toma de decisiones relacionadas a la calidad y el rendimiento de los procesos. Modelos como los de simulación de procesos y diseño de productos</li>
        <br>

        <li class="text-justify"><b>Finanzas: </b>En el campo de las finanzas, es importante que se construyan y se implementen modelos para el análisis de inversiones, valoración de activos y tomas de decisiones para la gestión de riesgos y el rendimiento de las inversiones y el capital. Aqui se presentan modelos como de valoración de opciones, riesgos de credito y de gestión de carteras.</li>
      </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify">
        La construcción de modelos desempeña un papel fundamental en el campo empresarial debido a que es una herramienta vital para la toma de decisiones, gestion de recursos, y optimización de procesos. Además, el uso de estos modelos conlleva un beneficio para las empresas que lo apliquen, beneficios tales como una mejor toma de decisiones, simulación de escenarios futuros permitiendo crear planes adecuados para cuando se presenten, entre otros  
        </p>
        <br>
        <p class="text-justify">
          Asimismo, también existen razones por las cuales estos modelos son importantes en su campo empresarial, siendo estos algunos:
        </p>
        <h1 class=" mt-5 font-bold">
            Gestión de recursos
          </h1>
        <p class="text-justify"> 
          La construcción de modelos permite la optimización de recursos tanto financieros, humanos o materiales, facilitando un uso más efectivo y rentable
        </p>
        <h1 class=" mt-5 font-bold">
            Optmización de decisiones
          </h1>
        <p class="text-justify"> 
          El uso de modelos facilita la toma de decisiones en las empresas, pues proporciona un marco analítico para tener en cuenta varios escenarios y alternativas. Además, se pueden emular distintas estrategias y analizar su impacto antes de implementarlas, lo cual permite minimizar riegos y maximizar beneficios.
        </p>
        <h1 class=" mt-5 font-bold">
            Competitividad
          </h1>
        <p class="text-justify"> 
          Las empresas que hacen uso de modelos pueden marcar una ventaja competitiva sobre las demás, pues el uso de estos permite tomar decisiones de manera más fundamentada y anticipar posible escenarios y situaciones que las demás empresas no contemplaron. Asimismo, permite responder a cambios en el mercado y operar de manera mucho más eficiente en comparación con las demás empresas. 
        </p>
      </div>
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
      </div>
    </div>  
  </section>

</Layout>