---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title='Secciones'>
<section class='p-8'>
  <ul role="list" class="grid grid-cols-1fr gap-8">
			<Card
				href="/origenes-io"
				title="Origen de la Investigación de operaciones"
				body="Sumérgete en la historia que transformó problemas complejos en soluciones eficientes."
			/>
			<Card
				href="/pasos-modelos"
				title="Pasos generales y técnicas de construcción de modelos"
				body=" Desbloquea el potencial de la toma de decisiones informada! descubre el fascinante arte de transformar datos en conocimiento valioso."
			/>
			<Card
				href="/admin-proyectos"
				title="Administración de proyectos"
				body="Descubre las estrategias y técnicas que transforman ideas en realidades exitosas."
			/>
			<Card
				href="/teoria-colas"
				title="Introducción a la teoria de colas"
				body=" Descubre cómo minimizar las esperas y maximizar la productividad."
			/>
      <Card
				href="#"
				title="Simulación"
				body="Desde modelar escenarios complejos hasta anticipar el futuro, descubre cómo la simulación te lleva más allá de los límites de la realidad."
			/>
      <Card
				href="#"
				title="Modelo de transporte"
				body="Descubre cómo optimizar rutas y maximizar la movilidad, desde la logística hasta la planificación urbana"
			/>
      <Card
				href="#"
				title="Teoria de decision"
				body="Explora el arte de elegir sabiamente en un mundo lleno de posibilidades que va desde decisiones simples hasta complejas estrategias"
			/>
		</ul>
</section>
</Layout>

