---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Simulación">
  <section class="p-3">
    <h1 class="title2 pt-2 font-bold bg-[#ffa938] h-12 tracking-widest text-white text-center rounded-lg duration-1000">Simulación</h1>
    <div class="mt-10">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          La simulación es una herramienta que consiste en mirar sistemas por medio de un experimento real o un experimento sobre el modelo del sístema. Esta herramienta es de bastante utilidad en la investigación de operaciones ya que permite a las empresas representar escenarios similares a los reales teniendo en cuenta distintas variables y como se comportarian estas.  
          <br/>
          <br/>

          Estos modelos pueden ser <b>icónicos, análogos y matemáticos,</b>donde los matemáticos pueden tener soluciones analiticas o por simulación. Añadiendo a lo anterior, los métodos matemáticos tienen los siguientes tipos: 
          </p>
          <ul class="list-disc px-5 mt-3">
            <li class="px-2"> <b>Estático/Dinámico: </b> Aquí las variables cambian durante el tiempo</li>
            <br>
            <li class="px-2"> <b>Determinístico: </b> Aquí la respuesta es certera</li>
            <br>
            <li class="px-2"> <b>Continuo: </b> Aquí la variable cambia gradualmente</li>
            <br>
            <li class="px-2"> <b>Discretos: </b> Aquí la variable puede cambiar a saltos repentinamente  </li>
            <br>
            <li class="px-2"> <b>Estocástico: </b> Aquí la respuesta varía  </li>
          </ul>
          <br/>
        <p class="text-justify">
          Estos son los aspectos que la hacen importante:
        </p>
          <ul class="list-disc px-5 mt-3">
            <li class="px-2">Se puede aprender del sistema ya que la simulación se hace sobre este, por lo tanto permite conocerlo y estudiarlo a fondo</li>
            <br>
            <li class="px-2">Permite conocer respuestas</li>
            <br>
            <li class="px-2">Facilita una mejor toma de decisiones</li>
          </ul>
          <br/>
        <p class="text-justify">
          Sin embargo; la simulación tiene sus ventajas y desventajas, siendo estas:
        </p>
            <br>

        <p class="font-bold">Ventajas</p>
        <ul class="list-disc px-5 mt-3">
          <li>El tiempo real se puede comprimir</li>
          <li>No interrumpe el sistema real</li>
          <li>Aprendizaje y compresión de todo</li>
        </ul>
        
        <br>
        <p class="font-bold">Desventajas</p>
        <ul class="list-disc px-5 mt-3">
          <li>Consume recursos técnicos y humanos</li>
          <li>Requiere largo tiempo de dedicación</li>
          <li>La construcción del modelo requiere entrenamiento</li>
          <li>Los resultados pueden ser dificiles de interpretar</li>
        </ul>
        <br>
        <p>Por otra parte, para llevar a cabo esta herramienta se debe llevar a cabo una metodologia, siendo esta</p>

        <ul class="list-decimal px-5 mt-3">
            <li class="px-2"><b>Formulación del problema: </b> Aquí se define lo que se quiere hacer</li>
            <br/>
            <li class="px-2"><b>Diseño del modeo conceptual: </b> En esta etapa se plasma y se redacta todo sobre el modelo</li>
            <br/>
            <li class="px-2"><b>Recolección de datos: </b> Aquí es donde se recogen los datos con los que se van a trabajar y eventualmente se filtran</li>
            <br/>
            <li class="px-2"><b>Construcción del modelo</b>
            <br/>
            <br>

            <li class="px-2"><b>Verificación y validación del modelo: </b>En esta etapa, se busca validar que el modelo tenga coherencia con los datos </li>
            <br/>
            <li class="px-2"><b>Documentación: </b> Aquí existe documentación formal, la cual se da en terminos técnicos, e informal que es en términos que todos pueden entender</li>
            <br>

            <li class="px-2"><b>Implementación: </b> Se lleva a cabo </li>
            <img src="/simulacion.jpg" alt="imagen finanzas" class="rounded-2xl">
          <br/>
          </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          La simulación es una herramienta fundamental que puede aplicarse en distintas areas para variedades de empresas ya que les permite a estas representar fenomenos mediante modelos, los cuales tienen en cuenta las variables involucradas y con base a esto pueden tomar decisiones mucho más informadas y con más fundamentos para una mejor planificación estratégica. Estos son algunos campos de aplicación de la simulación:
        </p>
        <br/>
      <ul class="list-disc px-5">
        <li class="text-justify"><b>Finanzas y economía: </b>Se encuentra el uso de la simulación en la economia y las finanzas ya que permite modelar escenarios económicos, riesgos financieros y analizar carteras de inversión de tal manera que se minimicen riesgos y se puedan aprovechar las posibles oportunidades.</li>
        <br>
        <li class="text-justify"><b>Defensa y seguridad: </b>En el entorno militar, la simulación es importante ya que se modelan situación estratégicas y tácticas para el entrenamiento y la planificación; además esta también se usa en la simulación de desastre para encontrar rutas de evacuación y evaluar la seguridad de las estructuras.</li>
        <br>
        
        <li class="text-justify"><b>Automovilismo: </b> La simulación se da en la mayoria de los deportes pero es más evidente en el campo del automovilismo, ya que los pilotos cuentan con maquinas de simulación con los cuales pueden estudiar a fondo cada pista y encontrar el estilo de conducción adecuado para cada una de estas, evaluando las curvas, el peso del automovil, entre otras variables.</li>
        <br>

        <li class="text-justify"><b>Salud y medicina: </b> En el área de la salud, la simulación puede usar desde la planificación para hospitales, protocolos de tratamientos, hasta situaciones reales. Además, los estudiantes usualmente hacen uso de estas herramientas antes de ejercer su profesión, esto con el fin de estar lo más asimilado posible a la realidad y se reduzca el mayor número de errores e inconvenientes</li>
        <br>

        <li class="text-justify"><b>Construcción e ingeniería: </b>Estas herramientas se pueden usar en la construcción e ingeniería para supervisar y planificar la construcción de estructuras y desarrollo de ingeniería civil; además de gestionar la dependencia de actividades y rutas críticas</li>
        <br/>
        <img src="/Simulador.jpg" alt="imagen finanzas" class="rounded-2xl">
        <br/>
      </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify">
        La simulación juega un papel fundamental en el campo empresarial, pues esta le permite a las empresas modelar situaciones y sistemas complejos involucrando variables determinantes. Además, esto facilita a las empresas gestionar mejor sus recursos de tal manera que no se desperdicien en acciones que no le brinden beneficio alguno a la compañia y puedan optimizar estos recursos. Estos son algunos de las razones de la importancia de la simulación en el campo empresarial.
        </p>
        <h1 class=" mt-5 font-bold">
            Mejora en la toma de decisiones
          </h1>
        <p class="text-justify"> 
          La simulación al permitir representar distintos escenarios en los que se evaluen diferentes alternativas, le da la posibilidad a que las empresas puedan tomar sus decisiones basadas en argumentos y elementos demostrables.
        </p>
        <h1 class=" mt-5 font-bold">
            Diseño de estrategia y planificación a largo plazo
          </h1>
        <p class="text-justify"> 
          Las empresas pueden aprovechar la simulación para conocer un entorno futuro similar, ya que aunque la simulación no brinda un futuro exacto, si puede brindar uno que se aproxime a la realidad y esto es importante para estas empresas ya que les da la oportunidad de tener un bosquejo de lo que podría llegar a ser el futuro
        </p>
        <h1 class=" mt-5 font-bold">
            Optimización de procesos 
          </h1>
        <p class="text-justify"> 
          La simulación en este aspecto es usada para analizar y modelar procesos que van desde la cadena de suministros hasta la logística y permite evidenciar cuellos de boteela, mejorar la producción, reducir tiempos y minimizar los costos . 
        </p>
        <h1 class=" mt-5 font-bold">
            Implementación de cambios  
          </h1>
        <p class="text-justify"> 
          Gracias a que una de las ventajas de la simulación es que se puede implementar sin alterar el flujo normal de la producción o los procesos, las empresas pueden hacer uso de estas para simular el entorno una vez implementado este nuevo cambios, puede ser tecnologia, nuevo personal o incluso un proceso diferente. 
        </p>
      </div>
      <br>
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
        <p class="text-justify">La simulación le permite a los estudiantes obtener una ventaja en el momento de ingresar al mercado laboral ya que estas herramientas le permiten tener una perspectiva de lo que podria ser la realidad y gracias a esto pueden hacer frente de manera adecuada previniendo posibles problemas o situaciones de desventaja para las organizaciones. Por otra parte, gracias a que son simulaciones, no se ven comprometidas partes importante de la empresa y por lo tanto este estudiante se sentirá menos presionado</p>
      </div>
    </div>  
  </section>

</Layout>