---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Teoría de decisión">
  <section class="p-3">
    <h1 class="title2 pt-2 font-bxold bg-[#ffa938] h-12 tracking-widest text-white text-center rounded-lg duration-1000">Teoría de decisión</h1>
    <div class="mt-10 text-2xl">
      <div>
        <h1 class="py-1 px-3 bg-black rounded-md text-[#ffa938]">Generalidades</h1>
        <p class="text-justify mt-2">
          La toma de decisiones es algo que compete a cualquier ser humano, desde que se despiertan hasta que van a la cama; decisiones como definir si desayunar o no, cual será el desayuno, a que hora prefiere tomarlo, si quiere comer en su casa o en algún restaurante. Como se evidenció anteriormente, se toman bastantes decisiones para algo tan común como lo es el desayuno. Las organizaciones al estar conformadas por personas, estas también deben tomar decisiones y de mucho más peso ya que afecta a distintos individuos involucrados. Asi pues, la toma de decisiones es algo que atañe a cada persona, ya sea de manera individual o grupal y esta está compuesta por los siguientes elementos:   
          <br/>
          <br/> 
          </p>
          <ul class="list-disc px-5 mt-3">
            <li class="px-2"> <b>Sujeto: </b> Es la persona que debe elegir la  alternativa que va a seleccionar, en ocasiones se le conoce como el decisor</li>
            <br>
            <li class="px-2"> <b>Alternativas: </b> Son las distintas opciones o soluciones que pueda tener una situación</li>
            <br>
            <li class="px-2"> <b>Criterio: </b> Es la base por la cual se guiará la decisión </li>
            <img src="/decision.png" alt="imagen finanzas" class="rounded-2xl">
          </ul>
          <br/>
        <p class="text-justify">
          Por otra parte, existen tipos de decisiones, siendo estos algunos:
        </p>
          <ul class="list-disc px-5 mt-3">
            <li class="px-2"><b>Decisiones en condiciones de certeza: </b> Son aquellas decisiones que se toman cuando la información es clara, exacta y completa sobre el tema a escoger, lo que significa que la alternativa seleccionada conlleva poco riesgo</li>
            <br>
            <li class="px-2"> <b>Decisiones en condiciones de riesgo: </b></li> Son las decisiones en las que la información sobre el tema es reducida o no es exacta y conlleva probabilidades de que suceda. Este tipo de decisión conlleva un riesgo
            <br>
            <br>

            <li class="px-2"><b>Decisiones en condiciones de incertidumbre:</b> En este tipo de decisiones el sujeto o decisor tiene información nula o casi nula sobre el tema en cuestión y por lo tanto tampoco conoce los resultados. El hecho de que se tome esta decisión depende totalmente de la personalidad del sujeto pues conlleva un riesgo alto </li>
          </ul>
          <br/>
        <p class="text-justify">
          Por otra parte, para que se lleve a cabo el proceso de tomar una decisión se necesitan una serie de pasos los cuales van a permitirle al sujeto que llegue a escoger una alternativa. Estos son los pasos para tomar una decisión: 
        </p>
        <ul class="list-disc px-5 mt-3">
          <li><b> Identificar la decisión: </b> Para tomar una decisión primer es necesairo identificar el problema. En este paso es importante que se determine con claridad el problema a solucionar, pues si se enfoca de manera erronea la alternativa a escoger será errada también. </li>
          <br>
          <li><b>Reunir la información adecuada: </b> Una vez se haya definido el problema, se procede a buscar información relevante para la situación, en el entorno organizacional pueden ser escritos, libros o incluso empresas que estén relacionadas con esto</li>
          <br>
          <li><b>Identificar las alternativas: </b>Despues de haber reunido información importante, se procede a identificar las diferentes opciones que pueden dar solución a este problema; es decir, se establecer las alternativas</li>
          <br>
          <li><b>Analiza la evidencia: </b> En esta etapa se evalua cada alternativa y se tiene en cuenta la manera en la que puede influir en las áreas relacionadas, en un entorno organizacional se revisa en qué manera influye en las distintas zonas de la empresa.</li>
          <br>
          
          <li><b>Elegir entre las evidencias: </b>En esta etapa ya se ha elegido la alternativa más adecuada para el problema en cuestión teniendo en cuenta las distintas variables a influir, se espera qye esta opción pueda solucionar el problema</li>
            <br>
        </ul>
        <li><b>Actuar: </b>Aquí se lleva a cabo la solución que se tomó previamente </li>
        <br>
        <li><b>Revisar tu decisión: </b>Una vez ejecutada la solución se realiza una retroalimentación y se determina si la solución sí fue adecuada para el problema, en caso contrario se repite el proceso y y se escoge otra alternativa.</li>
        </ul>
        <br>
        <img src="/proceso de decision (1).jpg" alt="imagen finanzas" class="rounded-2xl">

      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md mb-2 text-[#ffa938]">Campos de aplicación</h1>
        <p class="text-justify mt-2">
          La toma de decisiones, como se mencionó anteriormente, es un campo que abarca desde el individuo a las compañias y por lo tanto no es exclusivo a algunas personas u organizaciones. Desde el área de la salud, la construcción y hasta la de los videojuegos es evidente el uso de la teoria de la toma de decisiones, pues siempre van a existir problemas a resolver con diferentes alternativas y todos los entes involucrados deben hacer frente a esto. Sin embargo, estos son algunos ejemplos de los campos de aplicación de la toma de decisiones
        </p>
        <br/>
      <ul class="list-disc px-5">
        <li class="text-justify"><b>Negocios y administración: </b>La toma de decisiones se ve en esta área en el momento de escoger las estrategias y la planificacióon a largo plazo, gestionar los riesgos e incluso decidir su nuevo servicio o producto a introducir en el mercado</li>
        <br>
        <li class="text-justify"><b>Medicina: </b>En el área de la salud encuentra la funcionalidad en poder tomar decisiones para tratamientos según sea el caso, esto con base a sintomas y pruebas.</li>
        <br>
        
        <li class="text-justify"><b>Derecho: </b>Se ve la toma de decisiones en el derecho en el momento en el que se llevan a cabo las resoluciones de disputas legales y también en la interpretación de la ley</li>
        <br>

        <li class="text-justify"><b>Educación: </b> En el área de la educación la toma de decisiones es algo fundamental pues allí se deben escoger los contenidos a enseñar, las metodologías a escoger y la asignación de recursos y las políticas educativas</li>
      </ul>
      </div>
      <div class="mt-10">
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938] mb-2">
          Importancia en el campo empresarial
        </h1>
        <p class="text-justify text-2xl">
          La toma de decisiones es un proceso importante en el ámbito corporativo que influye en el exito y la viabilidad de una organización. En un entorno dinámico y competitivo como el actual es importante que las empresas sean precisas con las decisiones que toman para abordar los problemas y desafios que se les presentan diariamente ya que de esto depende si la empresa crece o decae e incluso una mala gestión de toma de decisiones la puede llevar al cierre total.
        </p>
          
          <br/>

          <p class="text-justify">
            En las organizaciones, la toma de decisiones es una actividad que se realiza diariamente, desde decisiones minimas como la hora de la reunión, hasta las más importantes como definir los objetivos de los proximos 5 años, gracias a esto, los lideres empresariales deben tener un fuerte criterio que les permita hacer una buena gestión de su toma de decisiones para que puedan escoger la alternativa más adecuada a la situación, estas decisiones van desde empezar una expansión, cerrar una sucursal, desarrollar nuevos productos o servicios e incluso si contratar o no a una persona más
          </p>

          <br/>

          <p class="text-justify">En conclusión, la importancia de la toma de decisiones en el campo empresarial se basa en los siguientes aspectos:</p>

          <ul class="list-disc px-5">
            <li class="text-justify"><b>Eficiencia operativa</b></li>

            <li class="text-justify"><b>Innovación</b></li>
          
            <li class="text-justify"><b>Adaptabilidad</b></li>            

            <li class="text-justify"><b>Gestión de riesgos</b></li>

            <li class="text-justify"><b>Toma de decisiones colaborativa</b></li>

            <li class="text-justify"><b>Reputación empresarial</b></li>
          
          <img src="/decisiones-empre (1).jpg" alt="imagen finanzas" class="rounded-2xl">
      </ul>
      </div>
      <br>
      <div>
        <h1 class="bg-black py-1 px-3 rounded-md text-[#ffa938]">Importancia para el recorrido estudiantil</h1>
        <p class="text-justify"> La importancia de la toma de decisiones en el recorrido estudiantil se basa en que estos obligatoriamente deben enfrentar este tipo de situaciones diariamente, tanto en la vida académica como personal y laboral, asi que de aqui la importancia que un estudiante tenga la posibilidad de discernir de una manera adecuada la alternativa que más beneficio le traiga y le permita solucionar el problema a resolver. Asimismo, la toma de decisiones es una herramienta fundamental para forjar la personalidad y el caracter de los estudiantes </p>
      </div>
    </div>  
  </section>

</Layout>